
{% extends 'header.html' %}
{%load staticfiles%}
{% block content %}
  <div id="index-banner" class="parallax-container grande">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header light">
            <div class="row center">
                <div class="contenedor margen">
                <ul class="animacion">
                  <span style="color:#26A69A">
                  <li>Bienvenido</li>
                  <li>Bienvenue</li>
                  <li>欢迎</li>
                  </span>
                </ul>
                </div>
              </div>
        </h1>
        <div class="row center">
          <h5 class="header col s12 light" >      <span class="withe-text">Joyeria en acero</span></h5>
        </div>
        <div class="row center">
          <a href="" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">DESCUBRE MÁS</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src=" {% static "img/slide-1.jpg" %}"></div>
  </div>

          

  <div class="container">
    <div class="section">
        <div class="row center">
            <h4 class="header col s12 light">NOVEDADES</h4>

            {% for articulos in articulos %}
                            <div class="col s4">
                    <div class="slider">
                        <ul class="slides">
                          <li>
                            <img src="{{articulos.thumb.url}}">
                          </li>
                        </ul>
                      </div>
                </div>
            {% endfor %}


          </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Pagina responsiva creeada con Django y Materialize</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static "img/slide-3.jpg"%}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h5 class="font-delgada" >DISTRIBUIDOR OFICIAL PRESENCE</h5>
          <p class="left-align light">Sólo un distribuidor oficial Rolex está autorizado para vender y realizar el mantenimiento de los relojes Rolex, ofreciendo el conocimiento, la destreza y el equipo necesarios para darle el mejor servicio. Sólo ellos pueden garantizar la autenticidad de todas y cada una de las piezas de su Rolex, así como ayudarle a tomar una decisión que durará toda la vida.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Diseño responsivo creado con Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static "img/slide-4.jpg"%}" alt="Unsplashed background img 3"></div>
  </div>
{% endblock %}

